# =========================
# CONFIG KERNEL SCHEDULER
# =========================

# Puerto donde escucha conexiones
PUERTO_ESCUCHA=8000

# Dirección del Kernel Memory
IP_KERNEL_MEMORY=127.0.0.1
PUERTO_KERNEL_MEMORY=8001

LOG_LEVEL=INFO

PLANIFICATION_ALGORITHM=CMN
QUEUES_ALGORITHMS=[FIFO,RR,RR,RR]
RR_QUANTUM=1500
QUEUE_PREEMPTION=TRUE
SUSPENSION_TIMEOUT=35000
