# =========================
# CONFIG KERNEL MEMORY
# =========================

# Puerto donde escucha conexiones
PUERTO_ESCUCHA=8001

LOG_LEVEL=INFO

SEGMENT_MAX_SIZE=256
ALLOCATION_STRATEGY=BEST
INSTRUCTION_DELAY=500
COMPACTION_DELAY=30000
SCRIPTS_BASEPATH=/home/utnso/scripts